<div class="admin container">
	<form action="/admin/newChallenge" method="POST" encType="multipart/form-data" class="newChallenge">
		<h1 class="title">New challenge</h1>

		<div class="formHead">
			<input type="text" name="title" placeholder="Title" class="headTitle" required>
			<input type="text" name="type" placeholder="Type" class="headType" required>
		</div>

		<input type="text" name="description" placeholder="Description" required>
		<input type="text" name="flag" placeholder="Flag" class="flag" required>

		<div class="formFooter">
			<input type="file" name="attachment" class="attachment" required>
			<input type="submit" value="Submit" class="submitButton">
		</div>
	</form>

	<form action="/admin/getTeams" method="POST" class="getTeams">
		<h1 class="title">Teams</h1>
		<ul>
			{{#each data}}
			<li>{{@key}} : {{this.flags}}</li>
			{{/each}}
		</ul>

		<input type="submit" value="Get teams" class="submitButton">
	</form>
</div>