<div class="admin container">
	<form action="/admin/newChallenge" method="POST" class="newChallenge">
		<h1 class="title">New challenge</h1>

		<div class="formHead">
			<input type="text" name="title" placeholder="Title" class="headTitle">
			<input type="text" name="type" placeholder="Type" class="headType">
		</div>

		<input type="text" name="description" placeholder="Description" class="">
		
		<div class="formFooter">
			<input type="text" name="attachment" class="attachment" placeholder="Attachment">
			<input type="submit" value="Submit" class="submitButton">
		</div>
	</form>
</div>