<div class="container">
	<form action="/admin" method="POST" class="loginForm">
		<h1 class="title">Admin panel</h1>
		<div>
			<label for="password"><b>Password:</b></label>
			<br>
			<input type="password" name="password" placeholder="demo pass: admin" required>
			<br>
			<input type="submit" value="Submit" class="submitButton">
		</div>
	</form>
</div>