{{> navbar}}

<div class="container">
	{{!-- {{#each challenge}} --}}
	<div class="card">
		<div class="cardHead">
			<h3>title</h3>
			<h3>type</h3>
		</div>

		<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

		<a href="#">title.zip</a>

		<form action="/home" method="POST">
			<input type="text" class="flagInput" placeholder="Format: CTF{fl4g}">
			<input type="submit" class="flagSubmit" value="Submit">
		</form>
	</div>
	{{!-- {{/each}} --}}
</div>