<div class="container">

	{{#if err}}
		<h3>{{err}}</h3>
	{{/if}}

	<form action="/" method="post" class="loginForm">
		<h1 class="title"><span>{</span>Capture-The-Flag<span>}</span></h1>
		<div>
			<label for="teamName"><b>Team name:</b></label>
			<br>
			<input type="text" name="teamName" required>
			<br>
			<label for="password"><b>CTF Password:</b></label>
			<br>
			<input type="password" name="password" required>
			<br>
			<input type="submit" value="Login" class="submitButton">
		</div>
	</form>
	<a href="/admin">Click here for <span>admin</span> login</a>
</div>
