<h1 class="title"><span>{</span>Capture-The-Flag<span>}</span></h1>

<form action="/" method="post">
	<label for="teamName"><b>Team name:</b></label>
	<br>
	<input type="text" name="teamName" required>
	<br>
	<label for="password"><b>Password:</b></label>
	<br>
	<input type="password" name="password" required>
</form>