* {
	font-family: 'Open Sans';
}

:root {
	--dark-gray: #303030;
	--light-gray: #505050;
	--yellow: #f5b32f;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: var(--dark-gray);
}

label {
	color: #ddd;
}

span {
	color: #fff;
}

input{
	padding: 5px;
	color: var(--yellow);
	border: none;
	background-color: var(--light-gray);
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	color: var(--yellow);
}